<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.AqyEquipmentQjRawMapper">

    <resultMap type="AqyEquipmentQjRaw" id="AqyEquipmentQjRawResult">
        <result property="id" column="id"/>
        <result property="eqmtId" column="eqmt_id"/>
        <result property="eqmtCode" column="eqmt_code"/>
        <result property="eqmtName" column="eqmt_name"/>
        <result property="catchTime" column="catch_time"/>
        <result property="xValueQj" column="x_value_qj"/>
        <result property="yValueQj" column="y_value_qj"/>
        <result property="zValueQj" column="z_value_qj"/>
        <result property="tempValue" column="temp_value"/>
        <result property="eqmtTypeName" column="eqmt_type_name"/>
        <result property="createTime" column="create_time"/>
        <result property="initialX" column="initial_x"/>
        <result property="initialY" column="initial_y"/>
        <result property="initialH" column="initial_h"/>
    </resultMap>

    <sql id="selectAqyEquipmentQjRawVo">
        select id,
               eqmt_id,
               eqmt_code,
               eqmt_name,
               catch_time,
               x_value_qj,
               y_value_qj,
               z_value_qj,
               temp_value, create_time
        from aqy_equipment_qj_raw
    </sql>

    <select id="selectAqyEquipmentQjRawList" parameterType="AqyEquipmentQjRaw" resultMap="AqyEquipmentQjRawResult">
        <include refid="selectAqyEquipmentQjRawVo"/>
        <where>
            <if test="eqmtId != null ">and eqmt_id = #{eqmtId}</if>
            <if test="eqmtCode != null  and eqmtCode != ''">and eqmt_code = #{eqmtCode}</if>
            <if test="eqmtName != null  and eqmtName != ''">and eqmt_name like concat('%', #{eqmtName}, '%')</if>
            <if test="catchTime != null ">and catch_time = #{catchTime}</if>
            <if test="xValueQj != null ">and x_value_qj = #{xValueQj}</if>
            <if test="yValueQj != null ">and y_value_qj = #{yValueQj}</if>
            <if test="tempValue != null ">and temp_value = #{tempValue}</if>
        </where>
        order by catch_time desc
    </select>

    <select id="selectAqyEquipmentQjRawById" parameterType="Long" resultMap="AqyEquipmentQjRawResult">
        <include refid="selectAqyEquipmentQjRawVo"/>
        where id = #{id}
    </select>

    <insert id="insertAqyEquipmentQjRaw" parameterType="AqyEquipmentQjRaw" useGeneratedKeys="true" keyProperty="id">
        insert into aqy_equipment_qj_raw
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eqmtId != null">eqmt_id,</if>
            <if test="eqmtCode != null">eqmt_code,</if>
            <if test="eqmtName != null">eqmt_name,</if>
            <if test="catchTime != null">catch_time,</if>
            <if test="xValueQj != null">x_value_qj,</if>
            <if test="yValueQj != null">y_value_qj,</if>
            <if test="zValueQj != null">z_value_qj,</if>
            <if test="tempValue != null">temp_value,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eqmtId != null">#{eqmtId},</if>
            <if test="eqmtCode != null">#{eqmtCode},</if>
            <if test="eqmtName != null">#{eqmtName},</if>
            <if test="catchTime != null">#{catchTime},</if>
            <if test="xValueQj != null">#{xValueQj},</if>
            <if test="yValueQj != null">#{yValueQj},</if>
            <if test="zValueQj != null">#{zValueQj},</if>
            <if test="tempValue != null">#{tempValue},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateAqyEquipmentQjRaw" parameterType="AqyEquipmentQjRaw">
        update aqy_equipment_qj_raw
        <trim prefix="SET" suffixOverrides=",">
            <if test="eqmtId != null">eqmt_id = #{eqmtId},</if>
            <if test="eqmtCode != null">eqmt_code = #{eqmtCode},</if>
            <if test="eqmtName != null">eqmt_name = #{eqmtName},</if>
            <if test="catchTime != null">catch_time = #{catchTime},</if>
            <if test="xValueQj != null">x_value_qj = #{xValueQj},</if>
            <if test="yValueQj != null">y_value_qj = #{yValueQj},</if>
            <if test="zValueQj != null">z_value_qj = #{zValueQj},</if>
            <if test="tempValue != null">temp_value = #{tempValue},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAqyEquipmentQjRawById" parameterType="Long">
        delete
        from aqy_equipment_qj_raw
        where id = #{id}
    </delete>

    <delete id="deleteAqyEquipmentQjRawByIds" parameterType="String">
        delete from aqy_equipment_qj_raw where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectQjRawListForReport" parameterType="AqyRawReport" resultMap="AqyEquipmentQjRawResult">
        select a.id, a.eqmt_id, a.eqmt_code, a.eqmt_name, a.catch_time, a.x_value_qj, a.y_value_qj, a.z_value_qj,
        c.eqmt_type_name, b.initial_x, b.initial_y, b.initial_h
        from aqy_equipment_qj_raw a
        left join aqy_equipment b on b.id=a.eqmt_id
        left join aqy_equipment_type c on c.id=b.eqmt_type_id
        <where>
            <if test="projectId != null ">and b.project_id = #{projectId}</if>
            <if test="eqmtTypeId != null ">and b.eqmt_type_id = #{eqmtTypeId}</if>
            <if test="eqmtId != null ">and a.eqmt_id = #{eqmtId}</if>
            <if test="eqmtIds != null ">
                and a.eqmt_id in
                <foreach item="eqmtId" collection="eqmtIds" open="(" separator="," close=")">
                    #{eqmtId}
                </foreach>
            </if>
            <if test="eqmtCode != null  and eqmtCode != ''">and b.eqmt_code = #{eqmtCode}</if>
            <if test="eqmtName != null  and eqmtName != ''">and b.eqmt_name like concat('%', #{eqmtName}, '%')</if>
            <if test="startTime != null ">and a.catch_time BETWEEN #{startTime} and #{endTime}</if>
        </where>
        order by a.catch_time DESC
    </select>

    <select id="listRawForCharts" parameterType="AqyEquipmentQjRaw" resultMap="AqyEquipmentQjRawResult">
        <include refid="selectAqyEquipmentQjRawVo"/>
        where eqmt_id = #{eqmtId} order by catch_time desc limit 10
    </select>

    <select id="selectLastDataByEqmtId" parameterType="Long" resultMap="AqyEquipmentQjRawResult">
        <include refid="selectAqyEquipmentQjRawVo"/>
        where eqmt_id=#{eqmtId} ORDER BY catch_time desc LIMIT 1;
    </select>

</mapper>
